// constants to do with card assets
$source-width: 592px;
$source-height: 874px;

.card {
  $height: 300px;
  $width: $height * $source-width / $source-height;

  height: $height;
  width: $width;

  margin: 3px;
  border: 1px solid #fff;
  border-radius: 8px;
}
